* {
	box-sizing: border-box;
}
::selection {
	background: white;
	color: red;
}
body {
	background-color: #24262b;
	margin: 0;
	padding: 0;
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #24262b;
	overflow: hidden;
	z-index: 0;
}
a {
	display: block;
	float: left;
	color: white;
	padding: 10px 15px;
	margin: 15px;
	margin-left: 25px;
	text-decoration: none;
	border: 2px solid #24262b;
}
a:hover {
	border: 2px solid white;
}